/* Welcome section styling*/

.carousel-item {
  max-width: 100%;
  height: auto;
  background-size: cover;
}

.carousel-container {
  background-position: center;
  text-align: center;
  color: white;
}

/* About us section styling*/

.about {
  background-position: center;
  text-align: center;
  color: black;
}

/* Services section styling*/

.services {
  background-position: center;
  text-align: center;
  color: white;
}

.carousel-item {
  max-width: 100%;
  height: auto;
  background-size: cover;
}

/* What we do section styling*/
.col-md-4 {
  background-position: center;
  text-align: center;
  color: black;
}

.container {
  text-align: center;
}

/* Portfolio section styling for later*/

/* Contact us section styling */

.contact-us {
  background-position: center;
  text-align: center;
  color: white;
}


/* making the form transparent */ 
div.background {
  background: url(assets/background/c_image.jg) repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  /*background-color: white;*/
  border: 1px solid black;
  opacity: 0.3;
  max-width: 100%;
  height: auto;
  background-size: cover;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color:white;
}

.row {
    padding: 10px 10px 10px 10px;
  }

  /* Hide the What we Do icons*/ 

.hide {
  display: none;
}

#designDescription {
  display:none;
}

#developmentDescription {
  display:none;
}

#productDescription {
  display:none;
}

  /* Hide the project names to allow pop-up with hover */
  
 
#black1 {
  display:none;
}

#ontariosecurity {
  display:none;
}

#art {
  display:none;
}

#series {
  display:none;
}

#website {
  display:none;
}

#profile {
  display:none;
}

#logomockup {
  display:none;
}

#restaurent {
  display:none;
}

/* Positioning text over an image */
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
 
}

/* Centered text and font change*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /*transform: translate(-50%, -50%);*/
  color: white;
  font-size: larger;
  font-weight: bolder;
  }

/* change font of portfolio names*/
#art {
  color: white;
  font-size: larger;
  font-weight: bolder;
  }

  .message1 {
    display:none;
  }